.charbox {
    -fx-background-color: linear-gradient(from 15% 100% to 100% 15%, #0F1221, #202741, #2E3E51);
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-border-color: white;
}
.utilityBox {
    -fx-background-color: rgba(190,196,203,0.95);
    -fx-background-radius: 15;
    -fx-border-color: white;
    -fx-border-radius: 15;
}
.walletBox {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-width: 1; 
    -fx-background-color: white;
}
.walletBack {
    -fx-background-color: linear-gradient(from 15% 100% to 100% 15%, #2E3E51, #171A2B, #202741);
    -fx-background-radius: 35;
    -fx-border-radius: 35;
    -fx-border-color: white;
}
.property {
    -fx-background-color: linear-gradient(from 15% 100% to 100% 15%, #0F2027, #203A43, #2C5364), linear-gradient(from 15% 100% to 100% 15%, #0F2027, #203A43, #2C5364);
    -fx-background-radius: 20;
    -fx-border-color: white;
    -fx-border-radius: 20;
}
.mainColorLeft {
    -fx-background-color: linear-gradient(from 15% 100% to 100% 15%, #0F2027, #203A43, #2C5364), linear-gradient(from 15% 100% to 100% 15%, #0F2027, #203A43, #2C5364);
}
.mainColorRight {
    -fx-background-color: linear-gradient(from 15% 100% to 100% 15%, #2C5364, #203A43, #0F2027), linear-gradient(from 15% 100% to 100% 15%, #2C5364, #203A43, #0F2027);
}
.overviewBox {
    -fx-background-color: linear-gradient(from 15% 100% to 100% 15%, #0F1221, #202741, #2E3E51);
    -fx-background-radius: 35;
    -fx-border-radius: 35;
    -fx-border-color: white;
}
.settingsBox {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-border-color:  linear-gradient(from 15% 100% to 100% 15%, #59033f, #4c023f, #3e023e, #30033c, #210339);
    -fx-border-radius: 20;
}


.list-view {
    -fx-background-color: linear-gradient(from 15% 100% to 100% 15%, #0F1221, #202741, #2E3E51);
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-control-inner-background: transparent;
}

.list-view .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-padding: 10;
    -fx-background-radius: 10;
}

.list-view .list-cell:filled:selected {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-text-fill: white;
    -fx-background-insets: 0;
}

.list-view .list-cell:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-text-fill: white;
    -fx-background-insets: 0;
}

.topSection {
    -fx-background-color: linear-gradient(from 15% 100% to 100% 15%, #0F1221, #202741, #2E3E51);
}

.militaryTab {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #3A3A3A, #1F1F1F);
}
.militaryBox {
    -fx-background-color: linear-gradient(from 15% 15% to 100% 100%, #4A4A4A, #2F2F2F);
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-color: #A0A0A0;
    -fx-border-width: 2;
    -fx-padding: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 5);
}
.militaryHeader {
    -fx-text-fill: #E0E0E0;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
.militaryButton {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #A0A0A0;
    -fx-border-width: 1;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-family: "Serif";

}
.militaryBox2 {
    -fx-background-color: linear-gradient(from 15% 15% to 100% 100%, #5A5A5A, #3F3F3F);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #B0B0B0;
    -fx-border-width: 2;
    -fx-padding: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 5);
}
.darkBox {
    -fx-background-color: linear-gradient(from 15% 15% to 100% 100%, #2E2E2E, #1A1A1A);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #8C8C8C;
    -fx-border-width: 2;
    -fx-padding: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 5);
}
.marketBox {
    -fx-background-color: linear-gradient(from 15% 15% to 100% 100%, #7B4A12, #B0A040);
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-color: #4A2F12;
    -fx-border-width: 2;
    -fx-padding: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 5);
}
.marketBox2 {
    -fx-background-color: linear-gradient(from 15% 15% to 100% 100%, #5C3A1E, #3B2A1A);
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-color: #D4AF37;
    -fx-border-width: 2;
    -fx-padding: 2,10,2,10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 5);
}

