.charbox {
    -fx-background-color: linear-gradient(from 15% 100% to 100% 15%, #0F1221, #202741, #2E3E51);
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-border-color: white;
}
.utilityBox {
    -fx-background-color: rgba(190,196,203,0.95);
    -fx-background-radius: 15;
    -fx-border-color: white;
    -fx-border-radius: 15;
}
.walletBox {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-width: 1; 
    -fx-background-color: white;
}
.walletBack {
    -fx-background-color: linear-gradient(from 15% 100% to 100% 15%, #2E3E51, #171A2B, #202741);
    -fx-background-radius: 35;
    -fx-border-radius: 35;
    -fx-border-color: white;
}
.property {
    -fx-background-color: linear-gradient(from 15% 100% to 100% 15%, #0F2027, #203A43, #2C5364), linear-gradient(from 15% 100% to 100% 15%, #0F2027, #203A43, #2C5364);
    -fx-background-radius: 20;
    -fx-border-color: white;
    -fx-border-radius: 20;
}